.custom-editor {
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
  line-height: 1.8; color: #0B465D; 
  font-size: 17px !important;
  font-family: 'Nunito', 'Sans-Serif'
  !important; font-weight: 600 
  !important; visibility: unset; 
  box-sizing: border-box;
}