$white: #FFF;
$black: #000;
$emerald: #42C569;
$orange: #8D3803;
$sunset-orange: #FF474C;
$roof-terracota:#A51E1D;
$green: #80ba81;
$caribbean-green: #00CC99;
$green-haze: #029D76;
$juniper: #66838B;
$valencia: #D9493F;
$green-shadow: rgba(0,204,153,0.4);
$silver: #CCCCCC;

$dodge-blue: #429CF7;
$azure-radiance: #0080FF;
$science-blue: #0066CC;
$congress-blue: #004C99;
$tahiti-gold: #E09404;
$mango-tango: #E37303;
$neon-carrot: #FF9933;
$juniper: #66838B;
$camarone: #006600;
$fun-green: #006633;
$green-haze: #00994C;
$pure-green: #00CC00;
$jade: #00CC66;

// Transparent from black
$transparent: rgba(0, 0, 0, 0);
$transparent-1: rgba(0, 0, 0, 0.1);
$transparent-75: rgba(0, 0, 0, 0.75);
$box-shadow: rgba(0,0,0,0.3);
$trasnparent-shamrock: rgba(#3CCC99, 0.1);

// Gray scale from weak to strong
$dove-gray: #717171;
$submarine: #BFC8CA;
$gray: #696969;
$gray-1: #808080;
$gray-2: #A9A9A9;
$gray-3: #D3D3D3;
$gray-4: #DCDCDC;
$geyser: #CDDDE1;
$black-haze: #F2F4F3;
$alabastersolid: #FAFAFA;
