$white: #FFF;
$black: #000;
$tundora: #4A4A4A;
$emerald: #42C569;
$orange: #8D3803;
$sunset-orange: #FF474C;
$roof-terracota: #A51E1D;
$green: #80BA81;
$green-haze: #029D76;
$valencia: #D9493F;
$green-shadow: rgba(0, 204, 153, 0.4);
$silver: #C9C3C3;
$red: #F00;
$aliceBlue: #F8FCFF;
$dodge-blue: #429CF7;
$azure-radiance: #0080FF;
$science-blue: #0066CC;
$congress-blue: #004C99;
$electric-violet: #5100FF;
$tahiti-gold: #E09404;
$mango-tango: #E37303;
$neon-carrot: #FF9933;
$juniper: #66838B;
$camarone: #006600;
$fun-green: #006633;
$green-haze: #00994C;
$pure-green: #00CC00;
$jade: #00CC66;
$caribbean-green: #00CC99;
$niagara: #0ABA8B;
$bright-turquoise: #0CF1B4;

// Transparent from black
$transparent: rgba(0, 0, 0, 0);
$transparent-1: rgba(0, 0, 0, 0.1);
$transparent-2: rgba(0, 0, 0, 0.2);
$transparent-75: rgba(0, 0, 0, 0.75);
$transparent-04: rgba(0, 0, 0, 0.04);
$box-shadow: rgba(0, 0, 0, 0.3);
$transparent-shamrock: rgba(#3CCC99, 0.1);

// Gray scale from weak to strong
$emperor: #555;
$gray: #696969;
$gray-1: #808080;
$gumbo: #7E9CA2;
$cascade: #8CA7AC;
$gray-2: #A9A9A9;
$gullGray: #9DB4B8;
$submarine: #BFC8CA;
$mercury: #EAE9E9;
$alto: #D8D8D8;
$gray-3: #D3D3D3;
$gallery: #EBEAEA;
$towergray: #ACBFC3;
$loblolly:  #C0CDD2;
$tiara: #CFD8DA;
$gray-4: #DCDCDC;
$geyser: #CDDDE1;
$geyser-2: #D2E2E5;
$black-haze: #F2F4F3;
$alabastersolid: #FAFAFA;
